html {
  box-sizing: border-box;
}

/*#357EDD*/
/*533FE1*/

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #96CCFF;
  /*min-height: 100vh;*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}